@font-face {
  font-family: 'Arvo';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=tDbM2oWUg0MKoZw1yLHY_qWe622Ta3by&skey=32d0e4970a9f038b&v=v13) format('woff2');
}
