.member-card {
  display: grid;
  grid-template-rows: 215px 1fr;
  grid-template-areas: 'image' 'info';
  grid-template-columns: 1fr;

  &__image-wrapper {
    grid-area: image;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  &__position {
    font-size: smaller;
  }

  &__more-link {
    font-size: smaller;
  }
}
