@import "../styles/common";

.research-project-card {
  display: grid;
  grid-gap: 10px 0;

  grid-template-columns: auto;
  grid-template-rows: 170px 1fr;
  grid-template-areas: 'image' 'info';

  border-bottom: 2px solid #d65947;

  @media screen and (min-width: 950px) {
    grid-gap: 0 10px;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 170px;
    grid-template-areas: 'image info';

    border-bottom: none;
    border-right: 2px solid #d65947;
  }

  &__image-wrapper {
    grid-area: image;
    overflow: hidden;
    background-color: #f9f9f9;
  }

  &__image {
    height: 100%;
    width: 100%;
    transition: all 0.1s ease-in;
    filter: contrast(0.95);

    img {
      object-fit: contain !important;
    }

    border-bottom: 1px solid #eee;

    @media screen and (min-width: 950px) {
      border-bottom: none;
      border-right: 1px solid #eee;
    }
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__more-link {
    font-size: smaller;
  }
}
