@import "../styles/common";

.research-project-card {
  display: grid;
  grid-gap: 10px;

  grid-template-columns: auto;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 'image' 'info';

  border-bottom: 2px solid #d65947;

  @media screen and (min-width: 950px) {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 'image info';

    border-bottom: none;
    border-right: 2px solid #d65947;
  }

  &__image-wrapper {
    grid-area: image;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.1s ease-in;
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__more-link {
    font-size: smaller;
  }
}
